* {
    margin: 0;
    padding: 0
}

@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* For Webkit based browsers (Chrome, Safari, etc.) */
/* The following properties can be changed as desired */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

#firstnav {
    height: 43px;
    /* background-color: gray; */
    /* color: aliceblue; */
}
a{
    text-decoration: none;
    /* color: black; */
}
a.nav-link:hover{
    border-bottom:2px solid yellow;
}
a.btn:hover,button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
nav {
    width: 100%;
}
#logo {
    top: -2%;
    position: absolute;
    left: 10%;
    /* right: 40%; */
    z-index: 1;
    /* filter: drop-shadow(0 0 20px rgb(17, 11, 20)); */
    width:20vh;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #logo {
        display: none;
    }
    #firstnav{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* styles for tablet view */
    #logo {
        display: none;
    }

    #event-pic {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* styles for tablet view */
    #interview {
        background-image: none;
    }
}
#carousel{
    /* height: 100vh; */
}

#p-font {
    font-size: 10px
}

ul#list {
    /* margin-left: -40px; */

}

#list {
    height: 395px;
    overflow:auto;
}

#interview {
    background-image: url('../image/bg-home.jpg');
    height: 500px;
    background-repeat: no-repeat;
    color: black;
}
@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #interview {
        background-image: none;
        /* height: 500px; */
        color: black;
    }

}


blockquote {
    font-size: 30px;
    color: gray
}

#newsletter {
    background-image: url('../image/bg-newsletter.jpg');
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#list-action {
    border: none;
}
.list-group-item.list-group-item-action{
    background-color: black;
    color: white;
}
#hero{
    background-image:linear-gradient(to right,rgba(16, 66, 98, 0.5),black),url("../image/IMG-20230417-WA0008.jpg");
    margin: 0;
        padding: 0;
        min-height: 50vh;
        max-height: 150vh;
        background-position: center;
        background-size: cover;
        /* position: fixed; */
        background-attachment: fixed;
        background-color: rgba(16, 73, 128, 0.5);
}
#eventsection .card:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#storyinput{
    background-color: transparent;
    border:none;
    color: white;
    border-bottom: 1px solid grey;
}


/*--------------------------------------------------
Footer
--------------------------------------------------*/
  .footer-wrapper {
    background-color: #1a265c;
    padding-bottom: 24px;
    width: 100%;
    float: left;
  }
  .footer-wrapper .foooter-container {
    background-color: black;
    padding: 55px 0 0;
    line-height: 2;
  }
  .footer-wrapper .foooter-container .footer-middle {
    padding-bottom: 30px;
    border-bottom: 1px solid #e9e9e9;
  }
  .footer-wrapper .foooter-container .footer-middle .contact-footer .logo-footer {
    float: left;
    display: block;
    margin-bottom: 10px;
  }
  .footer-wrapper .foooter-container .footer-middle .contact-footer .logo-footer img {
    max-width: 75%;
  }
  .footer-wrapper .foooter-container .footer-middle .contact-footer .contact-desc {
    clear: both;
    margin-bottom: 10px;
  }
  .footer-wrapper .foooter-container .footer-middle .contact-footer .contact-phone-email {
    clear: both;
  }
  .footer-wrapper .foooter-container .footer-middle .contact-footer .contact-phone-email .contact-email {
    margin-left: 30px;
  }
  .footer-wrapper .foooter-container .footer-middle .links-footer h6 {
    margin-bottom: 15px;
  }
  .footer-wrapper .foooter-container .footer-middle .links-footer ul li {
    line-height: 2.6;
  }
  .footer-wrapper .foooter-container .footer-middle .links-footer ul li a{
    color: white;
  }
  .footer-wrapper .foooter-container .footer-middle .links-footer ul li a:hover{
    color: yellow;
  }
  .footer-wrapper .foooter-container .footer-middle .links-social {
    max-width: 350px;
    margin: 0 auto;
  }
  .footer-wrapper .foooter-container .footer-middle .links-social .login-dashboard a {
    color: #fff;
    padding: 18px 30px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
  }
  .footer-wrapper .foooter-container .footer-middle .links-social ul {
    margin-top: 28px;
  }
  @media (max-width: 991px) {
    .footer-wrapper .foooter-container .footer-middle .contact-footer {
      margin-bottom: 30px;
    }
    .footer-wrapper .foooter-container .footer-middle .links-footer {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 767px) {
    .footer-wrapper .foooter-container .footer-middle .contact-footer {
      text-align: center;
    }
    .footer-wrapper .foooter-container .footer-middle .contact-footer .logo-footer {
      width: 100%;
    }
    .footer-wrapper .foooter-container .footer-middle .links-footer {
      text-align: center;
    }
    .footer-wrapper .foooter-container .footer-middle .links-footer h6 {
      margin-top: 20px;
    }
  }
  .footer-wrapper .foooter-container .footer-bottom {
    padding: 30px 0;
  }
  .footer-wrapper .foooter-container .footer-bottom p {
    color: #9f9f9f;
  }
  